@layer theme, base, antd, components, utilities;
@import "tailwindcss";

@theme {
  --color-primary: #f1472c;
  --color-secondary: #6a6a6a;
  --color-link-water: #e6effd;
  --color-comet: #606884;
  --color-green: #18aa0b;
  --color-orange: #ee5700;
  --color-red: #bc1818;
  --color-trash: #de8c8c;
  --color-warning: #f0b400;
  --border-radius: 5px;
}

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  --ant-color-primary: #f1472c;
}

a {
  /* background-color: inherit; */
}
